.footer {
    min-height: 48px;
    background: #20222A;
    &__wrapper {
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &_text {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.5);
        }
        &_list {
            display: flex;
            &_type {
                margin: 0 16px;
                a {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                }
            }
        }
    }
}